/* styles.css */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
}
