/* Estilos generales */
.form-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos y subtítulos */
h1, h2.section-title {
    color: #333333;
    text-align: center;
    margin-bottom: 1em;
}

/* Estilos de DataTables */
#listadoEspecProductos {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#listadoEspecProductos th {
    background-color: #004a99; /* Color primario de la empresa */
    color: #ffffff;
    padding: 10px 15px;
}

#listadoEspecProductos td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

#listadoEspecProductos tr:hover {
    background-color: #f2f2f2; /* Efecto hover para las filas */
}

/* Botones e iconos */
#listadoEspecProductos .action-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3; /* Color secundario de la empresa */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#listadoEspecProductos .action-button:hover {
    background-color: #003366; /* Oscurecer el botón al pasar el cursor */
}

/* Iconos con FontAwesome */
#listadoEspecProductos .fas {
    cursor: pointer;
    margin-right: 5px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .form-container {
        padding: 10px;
        margin: 10px;
    }

    #listadoEspecProductos th, #listadoEspecProductos td {
        padding: 8px;
    }
}
