/* Contenedor de botones */
.button-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    gap: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Botones generales */
.button-container .botones {
    width: 200px;
    padding: 15px 30px;
    background-color: #0047b3; /* Azul predeterminado */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto hover para botones */
.button-container .botones:hover {
    background-color: #003580;
    transform: translateY(-2px);
}

/* Botones ocultos por defecto */
.button-container .botones[style*="display: none"] {
    display: none;
}

/* Botón rojo para acciones específicas */
.button-container .botones.red {
    background-color: red;
}

.button-container .botones.red:hover {
    background-color: #aa0202;
}

/* Botón para acciones destacadas */
.button-container .botones.highlight {
    background-color: #ffc107; /* Amarillo */
    color: black;
}

.button-container .botones.highlight:hover {
    background-color: #e0a800;
}
