
/* Botones de control específicos */
.button-container .botones.ingControl {
    background-color: #0047b3; /* Azul predeterminado */
    color: white;
    width: 200px; /* Ancho fijo */
    height: 50px; /* Alto fijo */
}

.button-container .botones.ingControl:hover {
    background-color: #003580;
}
