.form-container {
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 50px; /* Centrado y margen inferior agregado */
    /* Se eliminó el margin-left ya que margin: auto centra el contenedor */
}

/* Estilos para títulos dentro del form-container para mayor especificidad */
.form-container h1, 
.form-container h2.section-title {
    text-align: center;
    color: #333333; /* Unificado el color de los títulos */
    margin-bottom: 20px;
}

.form-container h1 {
    font-size: 32px; /* Tamaño grande para el título principal */
    color: #004a99; /* Color del tema para mayor coherencia */
    font-weight: bold; /* Título destacado */
}

.form-container h2.section-title {
    font-size: 24px; /* Tamaño menor para el subtítulo */
    border-bottom: 2px solid #004a99; /* Línea decorativa debajo del subtítulo */
    display: inline-block; /* Ajusta el ancho al contenido del texto */
    padding-bottom: 0.25em; /* Espacio debajo del texto para no tocar la línea */
}

/* Estilos para DataTables */
#listadoEspecProductos {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#listadoEspecProductos th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 15px;
}

#listadoEspecProductos td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#listadoEspecProductos tr:hover {
    background-color: #f2f2f2;
}

/* Botones e iconos */
.action-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Tamaño del texto unificado */
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0056b3;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .form-container {
        padding: 10px;
        margin: 10px 0; /* Centrado con margen superior e inferior para móviles */
    }

    .form-container h1,
    .form-container h2.section-title {
        font-size: 28px; /* Tamaño de título ajustado para dispositivos móviles */
        /* Se elimina margin-left y margin-right ya que margin: auto ya centra los elementos */
    }

    .form-container h2.section-title {
        font-size: 20px; /* Tamaño de subtítulo ajustado para dispositivos móviles */
    }

    .analysis-table, 
    .form-group input[type="date"] {
        font-size: 14px; /* Ajuste de tamaño de fuente para elementos específicos */
        /* Se eliminan las reglas de width, padding y margin que se definen en el estilo general y no requieren cambios en responsivo */
    }

    .form-row, 
    .form-group {
        flex-direction: column;
        margin-right: 0; /* Elimina margen derecho en dispositivos móviles */
    }
}