#contenedor_cotizador {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contenedor_cotizador > article {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#resume_cotizador {
  background-color: #f0f7ff;
}

.form__select {
  padding: 6px;
}

@media (max-width: 992px) {
  .modal__dialog {
    width: 800px;
    max-width: calc(100dvw - 8px);
  }
}
