#contenedor_cotizador {
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contenedor_cotizador > article {
  width: 100%;
  max-width: 300px;
}

#resume_cotizador{
  background-color: #f0f7ff;
}

