body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#form-container {
    height: 842pt;
    /* Altura estándar para A4 */
    width: 595pt;
    /* Ancho estándar para A4 */
    padding: 10pt;
    box-sizing: border-box;
    background-color: white;
    border: 1pt solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0pt 4pt 8pt;
    margin: 30pt auto;
    /* Centrar automáticamente en la página */
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos de header */
.header,
.header-bottom,
.footer {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #FFF;
}

.header,
.header-bottom,
.footer {
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left,
.header-bottom-right,
.footer-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-center {
    flex: 2;
    text-align: center;
}

.header-bottom-left,
.header-bottom-right {
    height: 50px;
}

.header-right,
.header-bottom-right,
.footer-box {
    text-align: right;
    font-size: 10px;
}

.header-right table {
    width: 100%;
}

.header-right table td,
.header-right table th {
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 1px;
}

/* Estilos de footer */
.footer,
.additionalfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 276pt;
    display: flex;
    justify-content: center;
}

.footer-box {
    align-items: center;
    display: flex;
    font-size: 8px;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #000;
    height: auto;
    width: 220px;
}

.footer-containerDIV {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10pt;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1pt;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    height: auto;
}

/* Estilos de firmas en el footer */
.firma-section {
    padding: 10pt;
    margin: 5pt;
    flex: 1;
    max-width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.firma-box-title {
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    height: 21px;
    width: 100%;
}

.firma-boxes {
    border: 1pt solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150pt;
    width: 100%;
    box-sizing: border-box;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7pt 0;
    font-size: 10pt;
    height: 64pt;
    width: 64pt;
}

.date {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    height: 15px;
    width: 100%;
}

.bold {
    font-weight: bold;
    width: 266px;
}

.text-bottom {
    text-align: center;
    font-size: 10px;
}

.firma {
    max-width: 100%;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    /* Ajusta dinámicamente */
}
