body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#form-container {
    width: 1000px;
    padding: 12px;
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.firma-box {
    border: 1px solid #000;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-right: 10px;
    width: 200px;
    height: 100px;
    text-align: center;
}

.header,
.header-bottom,
.table-section,
.footer-box,
.footer {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #FFF;
}

.footer,
.additionalfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 276pt;
    overflow: auto;
    display: flex;
    justify-content: center;
}

#header-container {
    padding-left: 5px;
    padding-right: 5px;
}

.header,
.header-bottom,
.content,
.footer {
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left,
.header-bottom-right,
.footer-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-center {
    flex: 2;
    text-align: center;
}

.header-bottom-left,
.header-bottom-right {
    height: 50px;
}

.header-right {
    font-size: 10px;
    font-family: 'Arial', sans-serif;
    flex: 2;
    text-align: right;
}

.header-right table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}

.header-right table td {
    font-size: 10px;
    padding: 5px;
    border: 1px dotted #000;
    text-align: left;
}

.header-right table td:first-child {
    font-weight: bold;
}

.editable.resp {
    width: 100px;
    background-color: #ffffff;
    border: 1px solid #000;
    padding: 3px;
    font-size: 10px;
}

tbody {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-info,
.bold {
    font-size: 9px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

#seccion3 table {
    width: 100%;
    border-collapse: collapse;
}

#seccion3 th {
    background-color: #0047b3;
    color: white;
    padding: 8px;
    text-align: center;
    align-items: center;
}

#seccion3 td {
    padding: 8px;
    text-align: center;
    align-items: center;
}

.document-title h2,
.document-title h3 {
    text-align: center;
    font-weight: bold;
}

.document-title h2 {
    font-size: 22px;
    margin-top: 20px;
}

.document-title h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section {
    margin: 5px;
}

.firma-section {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background-color: #FFF;
}

.footer-box {
    align-items: center;
    display: flex;
    font-size: 8px;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #000;
    height: auto;
    width: 220px;
}

.signature {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px dashed #000;
    height: 64px;
    width: 64px;
    margin: auto;
}

.signature img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bold,
.signature,
p {
    margin: 0;
}

p {
    flex-grow: 0;
}

.botones {
    position: fixed;
    width: 200px;
    right: 20px;
    padding: 15px 30px;
    background-color: #0047b3;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#metodo_muestreo {
    bottom: 30px !important;
}

#guardar {
    bottom: 90px;
}

#firmar {
    bottom: 160px;
    background-color: #ff0000;
}

#download-pdf {
    bottom: 20px;
}

#download-pdf:hover {
    background-color: #003580;
}

.pdf-header {
    font-size: 12pt;
}

.pdf-footer {
    font-size: 8pt;
}

#contenido_main {
    align-items: center;
}

#contenido_main .table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.no-border {
    border: none !important;
    box-shadow: none !important;
}

#watermark {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(1.5);
    font-size: 110px;
    color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 9999;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

#watermark.pendiente-approbacion {
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 100px;
    color: rgba(255, 0, 0, 0.5);
    pointer-events: none;
    z-index: 9999;
    width: 100vw;
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    letter-spacing: -5px;
}

.hidden {
    display: none !important;
}

.general-th {
    background-color: #0047b3;
    color: white;
    padding: 8px;
}

#identificacion_muestra th:first-child,
#identificacion_muestra td:first-child {
    width: 20%;
}

#identificacion_muestra th:nth-child(2),
#identificacion_muestra td:nth-child(2) {
    width: 40%;
    padding: 5px;
}

#identificacion_muestra th:nth-child(4),
#identificacion_muestra td:nth-child(4) {
    width: 8% !important;
    text-align: center;
    align-items: center;
    font-size: 10px;
    padding: 5px;
}

#identificacion_muestra th:nth-child(6),
#identificacion_muestra td:nth-child(6) {
    width: 8% !important;
    text-align: center;
    align-items: center;
    font-size: 10px;
    padding: 5px;
}

#identificacion_muestra th:nth-child(8),
#identificacion_muestra td:nth-child(8) {
    width: 20%;
    text-align: center;
    align-items: center;
    font-size: 10px;
}

#identificacion_muestra {
    width: 100%;
}

.formulario {
    border: 1px solid #000;
    font-size: 12px;
}

#muestreo .formulario {
    font-size: 12px;
}

.formulario-titulo {
    border: none;
    font-size: 12px;
}

.spacer {
    border: none;
    width: 1% !important;
    padding: 0px !important;
}

.verificadores {
    font-size: 8px !important;
    margin-bottom: 0px !important;
    padding: 2px 2px !important;
    border-radius: 3px !important;
    width: 100% !important;
}

.button-container {
    position: fixed;
    gap: 10px;
    bottom: 15px;
    right: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-container .botones {
    position: relative;
    right: 20px;
    width: 100%;
    padding: 15px 30px;
    background-color: #0047b3;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.resp {
    background-color: #ffffff;
    width: 102px;
}

.verif {
    background-color: #ffffff;
    width: 102px;
}

#muestreo th:first-child,
#muestreo td:first-child {
    width: 40%;
}

#muestreo th:nth-child(2),
#muestreo td:nth-child(2) {
    width: 20%;
}

#muestreo th:nth-child(4),
#muestreo td:nth-child(4) {
    width: 8%;
    text-align: center;
    align-items: center;
    font-size: 10px;
    padding: 5px;
}

#muestreo th:nth-child(6),
#muestreo td:nth-child(6) {
    width: 8% !important;
    text-align: center;
    align-items: center;
    font-size: 10px;
    padding: 5px;
}

#muestreo th:nth-child(8),
#muestreo td:nth-child(8) {
    width: 20%;
    text-align: center;
    align-items: center;
    font-size: 10px;
}

#muestreo,
#seccion3 {
    width: 100%;
    font-size: 12px;
}

#seccion3 th:nth-child(5),
#muestreo td:nth-child(5) {
    width: 8%;
}

#seccion3 th:nth-child(6),
#muestreo td:nth-child(6) {
    width: 8%;
    font-size: 12px;
    text-align: center;
    align-items: center;
}

#fecha_muestreo {
    box-sizing: border-box !important;
    border: 0px !important;
}

#fecha_Edicion,
#fecha_firma_responsable,
#fecha_firma_verificador {
    margin-top: 0px !important;
    text-align: center;
}

ol,
ul {
    padding-left: 0;
}

.Subtitulos {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1px;
}

.footer-containerDIV {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1px;
    width: 100%;
    box-sizing: border-box;
}

.firma-section {
    padding: 10px;
    margin: 5px;
    flex: 1;
    max-width: 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

.firma-box-title {
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    height: 21px;
    width: 100%;
}

.firma-boxes {
    border: 1px solid #000000;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
    font-size: 10px;
    height: 100px;
    width: 100px;
}

.date {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    height: 15px;
    width: 100%;
}

.bold {
    font-weight: bold;
    width: 266px;
}

.text-bottom {
    text-align: center;
    font-size: 10px;
}

.firma {
    max-width: 100%;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-container input[type="radio"] {
    display: none;
}

.toggle-container label {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #ccc;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-container input[type="radio"]:checked+label {
    background-color: #4CAF50;
}

.toggle-container input[type="radio"]:checked+label+input+label {
    background-color: #f44336;
}

.editable-div {
    width: 295px;
    max-width: 295px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.8rem;
    min-height: 60px;
}

.editable-div.textarea {
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.8rem;
    min-height: 80px;
}

.editable-diva {
    width: 100%;
    height: auto;
    min-height: 30px;
    max-height: 80px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.8rem;
    outline: none;
    border: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

#sample-identification1,
#sample-identification2,
#sampling-plan {
    padding: 20px;
    margin: 20px;
}

/* Estilos del modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#modalRechazar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.textt {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.confirmar {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0 0 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}
