/* archivo: assets\css\DocumentoLiberacion.css */
body {

    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#form-container {
    width: 1000px;
    /* height: 792pt; */
    padding: 12px;
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 10px;
}


.form-row {
    display: flex;
    justify-content: space-between;
    /* Separa las columnas */
}

.firma-box {
    border: 1px solid #000;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-right: 10px;
    width: 350px;
    height: 100px;
    /* Ajusta el ancho para llenar la sección del footer */
    text-align: center;
}

/* ... Resto de estilos ... */



.header,
.header-bottom,
.table-section,
.footer-box,
.footer {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #FFF;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 276pt;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.header,
.header-bottom,
.content,
.footer {
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left,
.header-bottom-right,
.footer-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-center {
    flex: 2;
    text-align: center;
}

.header-bottom-left,
.header-bottom-right {
    height: 50px;
}

.header-right,
.header-bottom-right,
.footer-box {
    text-align: right;
    font-size: 10px;
}

.header-right th:nth-child(2),
.header-right td:nth-child(2) {
    text-align: left;
    font-size: 10px;
    padding-left: 5px;

}

.header-right table {
    width: 100%;
}

.header-right table td,
.header-right table th {
    font-size: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 1px;
    border: 1px dotted #000;
}

.bold {
    font-size: 9px;
    color: #000;
    font-weight: bold;
    text-align: center;
}


.footer-section {
    margin: 5px;
}

.bold,
.signature,
p {
    margin: 0;
}

p {
    flex-grow: 0;
}




.doc-conforme,
.revision {
    display: flex;
    justify-content: center;
    /* Centrar los elementos en la columna */
    align-items: center;
    min-height: 40px;
    /* Altura mínima para mantener el espacio */
    flex-direction: column;
    /* Alinea los elementos en columna */
}

.verificadores {
    font-size: 10px !important;
    margin-bottom: 0px !important;
    padding: 2px 2px !important;
    /* Ajusta el espacio interno del botón */
    border-radius: 3px !important;
    width: 100% !important;
    text-align: center;
}

.verificadores.hidden {
    visibility: hidden;
    /* Mantiene el espacio pero oculta el contenido */
}


.Subtitulos {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1px;
    padding: 1%;
}

th {
    background-color: #8eb0d6;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    /* Incluye el padding y border en el ancho de la tabla */
}

.titulo {

    /* Ajusta el espaciado a la derecha para alinear el texto a la izquierda */
    text-align: left;
    /* Alinea el texto a la izquierda */
    font-size: 12px;
    width: 270px;

}

.titulo-right {
    /* Alinea el texto a la derecha */
    padding-left: 10px;
    width: 155px;
    /* Ajusta el espaciado a la izquierda para empujar el contenido hacia la derecha */
}


input[type="text"] {
    width: 295px;
    font-size: 0.8rem;
    padding: 3%;
    box-sizing: border-box;
    overflow: hidden;
    /* Evita que el contenido se desborde */
    white-space: nowrap;
    /* Evita que el texto se envuelva */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos si el texto es muy largo */
    display: flex;
    align-items: center;
    /* Centra verticalmente */

}

.tituloTabla {
    /* Asumiendo que quieres que el texto sea negrita */
    padding-right: 10px;
    /* Ajusta el espaciado a la derecha para alinear el texto a la izquierda */
    text-align: left !important;
    /* Alinea el texto a la izquierda */
    font-weight: bold;
    font-size: 14px;

}

.bordeAbajo {

    border: 1px solid #000;
}

.Metod {
    text-align: center;
    font-size: 12px;

}

.Espec {
    font-size: 12px;
    width: 290px;
    padding: 0;
    vertical-align: top; /* Asegura que el contenido se alinee arriba */
}


.tamañoRevision {
    font-size: 11px;
}


.TextoBajo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.ParrafoBajo {
    margin-top: 10px;
    font-size: 10px;
}

.estado-container {
    display: flex;
    align-items: center;
    gap: 10px;

}

input[type="checkbox"].checkmark {
    width: 15px;
    /* Ancho del checkbox */
    height: 15px;
    /* Altura del checkbox */
    transform: scale(1.5);
    /* Escala del checkbox */
    -webkit-transform: scale(1.5);
    /* Escala del checkbox para navegadores basados en WebKit */
    -moz-transform: scale(1.5);
    /* Escala del checkbox para navegadores basados en Mozilla */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="checkbox"].revision {
    width: 12px;
    /* Ancho del checkbox */
    height: 12px;
    /* Altura del checkbox */
    transform: scale(1.5);
    /* Escala del checkbox */
    -webkit-transform: scale(1.5);
    /* Escala del checkbox para navegadores basados en WebKit */
    -moz-transform: scale(1.5);
    /* Escala del checkbox para navegadores basados en Mozilla */

}

span.tamañoRevision {
    font-size: 1.1em;
    /* Ajusta el tamaño del texto según sea necesario */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: normal;
    /* Permite que el texto se ajuste a la siguiente línea */
    overflow-wrap: break-word;
    /* Ajusta las palabras si son muy largas */
    word-wrap: break-word;
    /* Lo mismo que overflow-wrap pero para más compatibilidad */
    resize: none;
    /* Evita que el usuario cambie el tamaño manualmente */
    font-size: 12px;
    padding: 5px;
    /* Espaciado interior para que el texto no quede pegado al borde */
    line-height: 1.2em;
    /* Ajusta según sea necesario */
}

.editable-div {
    width: 295px;
    max-width: 295px;
    word-wrap: break-word;
    /* Permite que las palabras se ajusten si son muy largas */
    overflow-wrap: break-word;
    /* Para soporte adicional */
    white-space: normal;
    /* Asegura que el texto se ajusta a la siguiente línea */
    height: auto;
    /* Ajusta la altura automáticamente según el contenido */
    border: 1px solid #ccc;
    /* Opcional: Estilo de borde */
    padding: 5px;
    /* Espaciado interno opcional */
    box-sizing: border-box;
    /* Asegura que el padding esté incluido en la anchura */
    font-size: 0.8rem;
    /* Tamaño de la fuente */
    min-height: 40.88px;
}
.editable-divO {
    width: 100%; /* Ocupará todo el ancho del td */
    max-width: 100%; /* Evita que crezca horizontalmente */
    min-height: 40px; /* Altura mínima inicial */
    height: auto; /* Ajuste dinámico */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
    word-wrap: break-word; /* Permite que el texto se ajuste dentro del div */
    white-space: pre-wrap; /* Permite saltos de línea */
    box-sizing: border-box; /* Incluye padding y border en el tamaño */
    display: block; /* Asegura que el div se comporte como bloque */
}

.editable-divR {
    width: 120px;
    max-width: 120px;
    word-wrap: break-word;
    /* Permite que las palabras se ajusten si son muy largas */
    overflow-wrap: break-word;
    /* Para soporte adicional */
    white-space: normal;
    /* Asegura que el texto se ajusta a la siguiente línea */
    height: auto;
    /* Ajusta la altura automáticamente según el contenido */
    border: 1px solid #ccc;
    /* Opcional: Estilo de borde */
    padding: 5px;
    /* Espaciado interno opcional */
    box-sizing: border-box;
    /* Asegura que el padding esté incluido en la anchura */
    font-size: 0.8rem;
    /* Tamaño de la fuente */
}





ul {
    padding-left: 0px !important;
}

.footer-containerDIV {

    display: flex;
    flex-wrap: nowrap;
    /* Evita que las secciones bajen al siguiente renglón */
    justify-content: space-between;
    margin-top: 1px;
    width: 100%;
    /* Asegura que el contenedor tome todo el ancho disponible */
    box-sizing: border-box;
    /* Incluye el padding y border en el ancho total */
}

.firma-section {

    padding: 10px;
    margin: 5px;
    flex: 1;
    /* Distribuye el espacio equitativamente entre las secciones */

    max-width: 45%;
    /* Limita el ancho máximo al 32% del contenedor para evitar desbordamiento */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribuye el contenido de manera uniforme */
    height: 220px;
    /* Ajusta según sea necesario */
}

.firma-box-title {

    font-size: 10px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;

    height: 21px;
    width: 100%;
    /* Ajusta según sea necesario */
}

.firma-boxes {
    border: 1px solid #000000;
    text-align: center;
    flex: 1;
    /* Permite que el contenido crezca para llenar el espacio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Centra el contenido verticalmente */
    height: 100%;
    width: 100%;
}

.signature {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
    font-size: 10px;
    /* Permite que la firma crezca para llenar el espacio */
    height: 100px;
    width: 100px;

    /* Ajusta según sea necesario */
}

.date {

    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    height: 15px;
    width: 100%;
    /* Ajusta según sea necesario */
}

.bold {

    font-weight: bold;
    width: 266px;



}


.text-bottom {
    text-align: center;
    font-size: 10px;

}

.firma {
    max-width: 100%;
}

.date-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    /* Ajusta según sea necesario */
}

.centrado {
    text-align: center;
}

.divider {
    background-color: #d3c0c0;
    /* Código de color para amarillo */
    width: 1px;
    /* Ancho de la línea divisora */
    height: auto;
    /* Altura automática para que se ajuste al contenedor padre */
    margin: 0 10px;
    /* Margen horizontal para separarla del contenido */
}

#seccion3 th {
    background-color: #0047b3;
    color: white;
    padding: 8px;
    text-align: center;
    align-items: center;
}

#seccion3 td {
    padding: 8px;
    text-align: center;
    align-items: center;
}

#seccion3 table {
    width: 100%;
    border-collapse: collapse;

}

#seccion1 th:nth-child(1),
#seccion1 td:nth-child(1),
#seccion2 th:nth-child(1),
#seccion2 td:nth-child(1),
#seccion4 th:nth-child(1),
#seccion4 td:nth-child(1) {
    width: 18%;
}

#seccion1 th:nth-child(2),
#seccion1 td:nth-child(2),
#seccion2 th:nth-child(2),
#seccion2 td:nth-child(2),
#seccion4 th:nth-child(2),
#seccion4 td:nth-child(2) {
    width: 30%;
}

#seccion1 th:nth-child(3),
#seccion1 td:nth-child(3),
#seccion2 th:nth-child(3),
#seccion2 td:nth-child(3),
#seccion4 th:nth-child(3),
#seccion4 td:nth-child(3) {
    width: 4%;
}

#seccion1 th:nth-child(4),
#seccion1 td:nth-child(4),
#seccion2 th:nth-child(4),
#seccion2 td:nth-child(4),
#seccion4 th:nth-child(4),
#seccion4 td:nth-child(4) {
    width: 18%;
}

#seccion1 th:nth-child(5),
#seccion1 td:nth-child(5),
#seccion2 th:nth-child(5),
#seccion2 td:nth-child(5),
#seccion4 th:nth-child(5),
#seccion4 td:nth-child(5) {
    width: 30%;
}
@media print {
    table {
        width: 100%;
        table-layout: fixed; /* Asegura que todas las columnas se mantengan alineadas */
    }

    th, td {
        word-wrap: break-word; /* Permite que las palabras se ajusten si son muy largas */
        overflow-wrap: break-word; /* Compatibilidad adicional */
        white-space: normal; /* Asegura que el texto se ajusta a la siguiente línea */
    }

    .table .centrado {
        text-align: center; /* Centra el texto en la columna de "Estado" */
        vertical-align: middle; /* Alinea verticalmente en el medio */
    }

    .table .verif, .table .Espec {
        width: auto; /* Asegura que la columna Observaciones se ajuste automáticamente */
    }

    .table .Espec {
        padding: 5px; /* Añade un poco de espaciado interno para mejorar la legibilidad */
    }

    .table .verif {
        padding: 5px; /* Añade un poco de espaciado interno */
        text-align: center; /* Centra el texto de los estados */
    }

    /* Ajuste adicional para mantener la alineación entre columnas */
    .table th, .table td {
        padding: 10px 5px; /* Asegura que el espaciado sea consistente en todas las celdas */
    }

    /* Si usas bordes en la tabla, asegúrate de que se impriman correctamente */
    .table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .table th, .table td {
        border: 1px solid black; /* Asegura que los bordes se impriman */
    }
}
