body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

#form-container {
  width: 1000px;
  /* height: 792pt; */
  padding: 12px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  /* Separa las columnas */
}

.firma-box {
  border: 1px solid #000;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-right: 10px;
  width: 350px;
  height: 100px;
  /* Ajusta el ancho para llenar la sección del footer */
  text-align: center;
}

/* ... Resto de estilos ... */



.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 276pt;
  overflow: auto;
  display: flex;
  justify-content: center;
}
#header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Asegura que todos los hijos tengan la misma altura */
}
.header-left {
  flex: 1;
  display: flex;
  align-items: center; /* Centra verticalmente la imagen */
}

.header-left img {
  max-height: 100%; /* Ajusta la imagen al 100% del contenedor */
  width: auto; /* Mantiene la proporción */
  object-fit: contain; /* Evita distorsiones */
}

.header-center {
  flex: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

.header-right {
  flex: 2;
  font-size: 10px;
  font-family: 'Arial', sans-serif;
  text-align: right;
  display: flex;
  align-items: center;
}

.header-right table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
.header,
.header-bottom,
.table-section,
.footer-box,
.footer {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background-color: #fff;
}

.header,
.header-bottom,
.content,
.footer {
  justify-content: space-between;
  align-items: center;
}

.header-bottom-left,
.header-bottom-right,
.footer-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.header-bottom-left,
.header-bottom-right {
  height: 50px;
}

.header-right,
.header-bottom-right,
.footer-box {
  text-align: right;
  font-size: 10px;
}

.header-right th:nth-child(2),
.header-right td:nth-child(2) {
  text-align: left;
  font-size: 10px;
  padding-left: 5px;
}



.header-right table td,
.header-right table th {
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 1px;
  border: 1px dotted #000;
}

.bold {
  font-size: 9px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.footer-section {
  margin: 5px;
}

.bold,
.signature,
p {
  margin: 0;
}

p {
  flex-grow: 0;
}



.verificadores {
  font-size: 8px !important;
  margin-bottom: 0px !important;
  padding: 2px 2px !important;
  /* Ajusta el espacio interno del botón */
  border-radius: 3px !important;
  width: 100% !important;
}

.Subtitulos {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 1%;
}

.tabla {
  background-color: #0047b3;
  text-align: center;
  color: white;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  /* Incluye el padding y border en el ancho de la tabla */
}

.titulo {
  /* Ajusta el espaciado a la derecha para alinear el texto a la izquierda */
  text-align: left;
  /* Alinea el texto a la izquierda */
  font-size: 12px;
  width: 270px;
}

.titulo-right {
  /* Alinea el texto a la derecha */
  padding-left: 10px;
  width: 155px;
  /* Ajusta el espaciado a la izquierda para empujar el contenido hacia la derecha */
}

input[type="email"],input[type="text"] {
  width: 295px;
  font-size: 0.8rem;
  padding: 3%;
  box-sizing: border-box;
  overflow: hidden; /* Evita que el contenido se desborde */
  white-space: nowrap; /* Evita que el texto se envuelva */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es muy largo */
  display: flex;
  align-items: center; /* Centra verticalmente */
}

.tituloTabla {
  /* Asumiendo que quieres que el texto sea negrita */
  padding-right: 10px;
  padding-left: 10px;
  /* Ajusta el espaciado a la derecha para alinear el texto a la izquierda */
  text-align: left;
  /* Alinea el texto a la izquierda */
  font-weight: bold;
  font-size: 14px;
}

.bordeAbajo {
  border: 1px dotted #000;
}

.Metod {
  text-align: center;
  font-size: 12px;
}

.Espec {
  font-size: 12px;
}

.tamañoRevision {
  font-size: 11px;
}

.revision {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 5px 20px 5px 0;
}
.label__like-input {
  width: 295px;
  font-size: 0.8rem;
  padding: 3%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  height: 38px;
  border: 1px solid;
  cursor: pointer;
}

.input-highlight {
  background-color: rgb(244, 250, 194)!important;
}
/* Aplica la clase input-highlight solo si el input está vacío */
input.input-highlight:placeholder-shown {
  background-color: rgb(244, 250, 194) !important;
}

/* Para inputs tipo archivo y otros que no tienen placeholder */
input[type="file"].input-highlight:invalid,
input.input-highlight:invalid {
  background-color: rgb(244, 250, 194) !important;
}

.TextoBajo {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.ParrafoBajo {
  margin-top: 10px;
  font-size: 10px;
}
ul {
  padding-left: 0px !important;
}


textarea {
  width: 295px;
  field-sizing: content;
  resize: none;
  overflow: hidden;
  font-size: 12px;
  padding: 3%;
  margin-bottom: -6px;
}

.footer-containerDIV {
  display: flex;
  flex-wrap: nowrap;
  /* Evita que las secciones bajen al siguiente renglón */
  justify-content: space-between;
  margin-top: 1px;
  width: 100%;
  /* Asegura que el contenedor tome todo el ancho disponible */
  box-sizing: border-box;
  /* Incluye el padding y border en el ancho total */
}

.firma-section {
  padding: 10px;
  margin: 5px;
  flex: 1;
  /* Distribuye el espacio equitativamente entre las secciones */

  max-width: 45%;
  /* Limita el ancho máximo al 32% del contenedor para evitar desbordamiento */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Distribuye el contenido de manera uniforme */
  height: 220px;
  /* Ajusta según sea necesario */
}

.firma-box-title {
  font-size: 10px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;

  height: 21px;
  width: 100%;
  /* Ajusta según sea necesario */
}

.firma-boxes {
  border: 1px solid #000000;
  text-align: center;
  flex: 1;
  /* Permite que el contenido crezca para llenar el espacio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Centra el contenido verticalmente */
  height: 100%;
  width: 100%;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0;
  font-size: 10px;
  /* Permite que la firma crezca para llenar el espacio */
  height: 100px;
  width: 100px;

  /* Ajusta según sea necesario */
}

.date {
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
  height: 15px;
  width: 100%;
  /* Ajusta según sea necesario */
}

.bold {
  font-weight: bold;
  width: 266px;
}

.text-bottom {
  text-align: center;
  font-size: 10px;
}

.firma {
  max-width: 100%;
}

.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  /* Ajusta según sea necesario */
}

/* Ocultar los botones de radio */
input[type="radio"].btn-check {
  display: none;
}

/* Estilo por defecto de los labels */
label.btn {
  border: 2px solid #ccc; /* Añadir un borde gris claro por defecto */
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Estilo cuando se selecciona el botón 'Cumple' */
input[type="radio"].btn-check.cumple:checked + label.btn-outline-success {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

/* Estilo cuando se selecciona el botón 'No Cumple' */
input[type="radio"].btn-check.noCumple:checked + label.btn-outline-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

/* Estilo cuando el botón no está seleccionado pero el label está activo (hover) */
label.btn:hover {
  border-color: #007bff; /* Borde azul al pasar el mouse */
}

.editable-div {
  width: 295px;
  max-width: 295px;
  word-wrap: break-word;
  /* Permite que las palabras se ajusten si son muy largas */
  overflow-wrap: break-word;
  /* Para soporte adicional */
  white-space: normal;
  /* Asegura que el texto se ajusta a la siguiente línea */
  height: auto;
  /* Ajusta la altura automáticamente según el contenido 
  border: 1px solid #ccc;
  Opcional: Estilo de borde */
  padding: 5px;
  /* Espaciado interno opcional */
  box-sizing: border-box;
  /* Asegura que el padding esté incluido en la anchura */
  font-size: 0.8rem;
  /* Tamaño de la fuente */
  min-height: 45px;
}
.modal {
  background-color: #000000c4 ;
}
