body {

    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#form-container {
    width: 1000px;
    /* height: 792pt; */
    padding: 12px;
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 10px;
}


.form-row {
    display: flex;
    justify-content: space-between;
    /* Separa las columnas */
}

.firma-box {
    border: 1px solid #000;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-right: 10px;
    width: 350px;
    height: 100px;
    /* Ajusta el ancho para llenar la sección del footer */
    text-align: center;
}

/* ... Resto de estilos ... */



.header,
.header-bottom,
.table-section,
.footer-box,
.footer {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #FFF;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 276pt;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.header,
.header-bottom,
.content,
.footer {
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left,
.header-bottom-right,
.footer-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-center {
    flex: 2;
    text-align: center;
}

.header-bottom-left,
.header-bottom-right {
    height: 50px;
}

.header-right,
.header-bottom-right,
.footer-box {
    text-align: right;
    font-size: 10px;
}

.header-right th:nth-child(2),
.header-right td:nth-child(2) {
    text-align: left;
    font-size: 10px;
    padding-left: 5px;

}

.header-right table {
    width: 100%;
}

.header-right table td,
.header-right table th {
    font-size: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 1px;
    border: 1px dotted #000;
}

.bold {
    font-size: 9px;
    color: #000;
    font-weight: bold;
    text-align: center;
}


.footer-section {
    margin: 5px;
}

.firma-section {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background-color: #FFF;
}

.signature {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px dashed #000;
    height: 64px;
    width: 64px;
    margin: auto;
    /* Centra el contenedor en el espacio disponible */
}

.bold,
.signature,
p {
    margin: 0;
}

p {
    flex-grow: 0;
}

.botones {
    position: fixed;
    width: 200px;
    right: 20px;
    padding: 15px 30px;
    background-color: #0047b3;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#metodo_muestreo {
    bottom: 30px !important;
}

#guardar {
    bottom: 90px;
}

#firmar {
    bottom: 160px;
    background-color: #ff0000;
}

#download-pdf {
    bottom: 20px;
}

#download-pdf:hover {
    background-color: #003580;
}

.verificadores {
    font-size: 8px !important;
    margin-bottom: 0px !important;
    padding: 2px 2px !important;
    /* Ajusta el espacio interno del botón */
    border-radius: 3px !important;
    width: 100% !important;

}



.Subtitulos {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1px;
}

th {
    background-color: #8eb0d6;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    /* Incluye el padding y border en el ancho de la tabla */
}

.titulo {
    
    /* Ajusta el espaciado a la derecha para alinear el texto a la izquierda */
    text-align: left;
    /* Alinea el texto a la izquierda */
    font-size: 12px;
    width: 270px;

}

.titulo-right {
    /* Alinea el texto a la derecha */
    padding-left: 10px;
    width: 155px;
    /* Ajusta el espaciado a la izquierda para empujar el contenido hacia la derecha */
}

input[type="text"] {
    width: 295px;
    font-size: 12px;
    padding: 3%;
    /* Asegura que el input ocupe toda la celda */
}
input{
    line-height: normal !important;
}
.tituloTabla {
    /* Asumiendo que quieres que el texto sea negrita */
    padding-right: 10px;
    /* Ajusta el espaciado a la derecha para alinear el texto a la izquierda */
    text-align: left;
    /* Alinea el texto a la izquierda */
    font-weight: bold;
    font-size: 14px;
    
}

.bordeAbajo {

    border: 1px dotted #000;
}

.Metod {
    text-align: center;
    font-size: 12px;

}

.Espec {
    font-size: 12px;
}


.tamañoRevision {
    font-size: 11px;
}

.firma-box-title {
    font-size: 10px;
    text-align: center;
}

.TextoBajo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.ParrafoBajo {
    margin-top: 10px;
    font-size: 10px;
}
ul{
    padding-left: 0px !important;
}

.button-container {
    position: fixed;
    bottom: 300px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
textarea{
    width: 295px;
    field-sizing: content;
    resize: none;
    overflow: hidden;
    font-size: 12px;
    padding: 3%;
}