body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    max-width: 1400px;
    margin: auto;
    padding: 25px;
    box-shadow: 20px 19px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgb(142, 179, 228);
}

.section-title {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.grid-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clima {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tareas {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.calendario {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
