.form-container {
    max-width: 100%;
    /* Ajusta según el diseño */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    /* Centrar el formulario */
    margin-right: auto;
    /* Centrar el formulario */
}
.form-container h1 {
    font-size: 32px; /* o el tamaño que prefieras */
    color: #004a99; /* o el color primario de tu marca */
    font-weight: bold; /* si quieres que sea más prominente */
    margin-bottom: 0.5em;
    text-align: center;
}

.form-container h2.section-title {
    font-size: 24px; /* o un tamaño proporcional al título */
    color: #333333; /* un color que contraste pero que no domine */
    margin-top: 0;
    margin-bottom: 1em; /* espacio antes del contenido */
    text-align: center;
    border-bottom: 2px solid #004a99; /* una línea para destacar el subtítulo */
    display: inline-block; /* para que la línea se ajuste al texto */
    padding-bottom: 0.25em;
}

/* Títulos y subtítulos */
h1, h2.section-title {
    color: #333333;
    text-align: center;
    margin-bottom: 1em;
}

/* Estilos de DataTables */
#listadoEspecProductos {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#listadoEspecProductos th {
    background-color: #004a99; /* Color primario de la empresa */
    color: #ffffff;
    padding: 10px 15px;
}

#listadoEspecProductos td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

#listadoEspecProductos tr:hover {
    background-color: #f2f2f2; /* Efecto hover para las filas */
}

/* Botones e iconos */
#listadoEspecProductos .action-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3; /* Color secundario de la empresa */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#listadoEspecProductos .action-button:hover {
    background-color: #003366; /* Oscurecer el botón al pasar el cursor */
}

/* Iconos con FontAwesome */
#listadoEspecProductos .fas {
    cursor: pointer;
    margin-right: 5px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .form-container {
        padding: 10px;
        margin: 10px;
    }

    #listadoEspecProductos th, #listadoEspecProductos td {
        padding: 8px;
    }
}

.accion-btn {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
    display: inline-flex; /* Usa flexbox para centrar el ícono */
    align-items: center; /* Centra verticalmente el ícono */
    justify-content: center; /* Centra horizontalmente el ícono */
    /*width: 16px;  Ancho fijo del botón */
    /*vheight: 16px; Altura fija del botón */
}

.accion-btn i {
    margin: 0; /* Elimina cualquier margen del ícono */
    font-size: 16px; /* Tamaño del ícono para llenar el botón */
}
