.form-container {
    max-width: 100%;
    /* Ajusta según el diseño */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    /* Centrar el formulario */
    margin-right: auto;
    /* Centrar el formulario */
}

/* Estilos para los títulos h2 dentro del formulario */
h2 {
    text-align: center;
    margin-bottom: 30px; /* Más espacio debajo del título */
    font-size: 24px; /* Tamaño de fuente más grande */
    color: #333; /* Color de fuente más oscuro para mejor contraste */
}

/* Estilos de los campos de formulario y etiquetas */
form label {
    display: block;
    margin-bottom: 5px;
    color: #666; /* Color de fuente más suave para las etiquetas */
    font-weight: bold; /* Etiquetas en negrita para mejor legibilidad */
}

form input[type='password'],
form input[type='file'], form input[type='text']{
    width: calc(100% - 20px); /* Ancho completo menos el padding */
    padding: 10px; /* Espacio interior para los campos de texto */
    margin-bottom: 20px; /* Más espacio entre campos */
    border: 1px solid #ddd; /* Borde más suave */
    border-radius: 4px; /* Bordes ligeramente redondeados */
    font-size: 16px; /* Tamaño de fuente más grande para fácil lectura */
}

/* Estilos para el botón de envío */
button {
    padding: 10px 15px;
    margin-top: 10px; /* Más espacio encima del botón */
    background-color: #0056b3; /* Color principal más oscuro para el botón */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* El botón se extiende a todo el ancho */
    font-size: 18px; /* Tamaño de fuente más grande para el botón */
    transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
}

button:hover {
    background-color: #004190; /* Un tono más oscuro al pasar el ratón por encima */
}

/* Ajustes para la responsividad */
@media (max-width: 768px) {
    .form-container {
        width: 100%;
        margin: 20px auto; /* Menos margen en dispositivos más pequeños */
        padding: 20px; /* Menos padding en dispositivos más pequeños */
    }

    h2 {
        font-size: 20px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }

    button {
        font-size: 16px; /* Tamaño de fuente más pequeño para el botón en pantallas pequeñas */
    }
}
.seccion {
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estiliza el switch */
.form-check-input {
    position: relative;
    width: 40px; /* Ancho del switch, ajusta según sea necesario */
    height: 20px; /* Altura del switch */
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px; /* Borde redondeado según la altura */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    transition: .4s;
    cursor: pointer;
}

/* Estiliza el indicator del switch */
.form-check-input:before {
    position: absolute;
    content: "";
    width: 16px; /* Ancho del indicador, ligeramente menor que la altura del switch */
    height: 16px; /* Altura del indicador, ligeramente menor que la altura del switch */
    top: 2px; /* Posiciona el indicador centrado verticalmente */
    left: 2px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.form-check-input:checked {
    background: #4caf50;
}

.form-check-input:checked:before {
    transform: translateX(20px); /* Desplazamiento horizontal cuando está activado */
}
.form-check.form-switch {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
}

.form-check-input {
    margin-right: 10px; /* Espacio entre el switch y la etiqueta */
}
.form-check-label {
    line-height: 1; /* Ajusta la altura de la línea para mejorar la alineación */
    /* Puedes agregar más estilos aquí si es necesario */
}
.seccion-deshabilitada {
    background-color: #eeeaea; /* Un gris claro, ajusta según tus preferencias */
}

.notification-container {
    display: none; /* Oculto por defecto */
    position: fixed;
    bottom: 20px; /* Ubicación en la esquina inferior */
    right: 20px; /* A la derecha */
    background-color: #e3e7ec; /* Color crema */
    color: #333; /* Color de texto */
    padding: 20px; /* Aumentar el relleno */
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
    border-radius: 4px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra ligera para profundidad */
    width: 700px; /* Ancho máximo más grande de la notificación */
    font-size: 28px; /* Tamaño de texto más grande */
    border-left: 8px solid; /* Borde izquierdo sólido, el color se definirá con clases adicionales */
}

.notification-container.success {
    border-left-color: #4CAF50; /* Borde izquierdo para éxito */
}

.notification-container.error {
    border-left-color: #f44336; /* Borde izquierdo para error */
}

