:root {
    --opacity-background: 0.5;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/fondo_login.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    opacity: var(--opacity-background);
    z-index: -1;
}

.forgot-password-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.forgot-password-container p {
    text-align: center;
    margin-top: 20px;
    /* Ajusta según necesites */
    margin-bottom: 20px;
    /* Ajusta según necesites */
    color: #666;
    /* El color del texto, ajusta según necesites */
    font-size: 14px;
    /* El tamaño del texto, ajusta según necesites */
}

@media (max-width: 600px) {
    .forgot-password-container {
        width: 90%;
        padding: 30px;
    }
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
}

.forgot-password-form input {
    padding: 0.625rem;
    /* 10px */
    margin-bottom: 0.625rem;
    /* 10px */
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forgot-password-form button {
    padding: 0.625rem;
    /* 10px */
    background-color: #5e4ad9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password-form button:hover {
    background-color: #473cbd;
}