* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn_lateral {
  position: relative;
  margin-right: 20px;
  padding: 100px; /* padding existente */

  box-sizing: border-box;
  display: block;
  background-image: url('../images/down-arrow.png');
  background-repeat: no-repeat;
  background-size: 16px 16px; /* Tamaño de la imagen */
  background-position: right center; /* Posición de la imagen */
}


.btn_lateral::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;  /* Mitad del ancho del triángulo */
  border-right: 14px solid transparent;  /* Mitad del ancho del triángulo */
  border-top: 14px solid #dfe9f5;  /* Altura del triángulo */
  left: 20px;
  bottom: -14px;
}
.btn_lateral:hover::before {
  border-top: 14px solid white; /* Cambia el color del triángulo a blanco cuando se pasa el cursor sobre .btn_lateral */
}
.btn_lateral i {
  margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #62a0ec;
  color: #FFFFFF;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}

.logo-title-container {
  display: flex;
  align-items: center;
  margin-left: 0px;
  
}

.logo {
  height: 50px;
  width: auto;
  filter: brightness(1.3);
}

header h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
  vertical-align: middle;
}

.container_fas {
  display: flex;
  min-height: calc(100vh - 60px);
  margin-top: 70px;

}

.sidebar {
  width: 300px;
  background-color: #dfe9f5;
  color: #000000;
  padding: 0px;
  position: fixed;
  height: calc(100% - 60px);
  padding-bottom: 0px;
  font-family: Arial, sans-serif;    
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.58, 1); /* Ejemplo de cubic-bezier */
  transform: translateX(0);
  border-right: 1px solid ;

}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 10px;
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  /* Añade estilos adicionales según sea necesario */
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 16px 10px;
  border-left: 3px solid transparent;
}

.sidebar a:hover {
  background-color: #FFFFFF;
  border-left: 3px solid #007BFF;
  color: #2E3A45;

}

.content {
  margin-left: 250px;
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  .container_fas {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
      position: static;
      height: auto;
  }

  .content {
      margin-left: 0;
  }
}
.sidebar a.active {
  background-color: #FFFFFF;
  border-left: 3px solid #007BFF;
  color: #2E3A45;
}
.search-container {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: auto;
}

.search-container input[type="search"] {
  margin-left: 10px;
}
header input[type="search"] {
  height: 30px;
  border: none;
  border-radius: 15px;
  padding: 0 15px;
  outline: none;
}
.header_estatico {
  display: flex;
  padding: 10px;
  justify-content: space-between; /* Alinea los elementos a ambos extremos */
  width: 100%;
  
}

.minimalist-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.minimalist-form label {
  font-weight: bold;
  color: #276955;
}

.minimalist-form input[type="text"],
.minimalist-form input[type="number"] {
  border:1px solid #93B4AA;
}

.minimalist-form .btn-primary {
  background-color: #276955;
  border: none;
}

.minimalist-form .btn-primary:hover {
  background-color: #1c4a3d;
  border: none;
}


.container_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  background-color: #f5f5f5;
}

.container_login {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.container_login h1 {
  color: #276955;
  font-size: 24px;
  margin-bottom: 20px;
}

.container_login label {
  color: #276955;
  font-weight: bold;
}

.container_login input[type="text"],
.container_login input[type="password"] {
  border: 1px solid #93B4AA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.container_login input[type="submit"] {
  background-color: #276955;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.container_login input[type="submit"]:hover {
  background-color: #1c4a3d;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.user-info {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  margin-right: 20px; /* Añade un margen a la derecha para separarlo del borde */
}

.user-role {
  color: #ffffff; /* Utiliza un color que contraste bien con el fondo del header */
  font-size: 12px;
}
.username {
  color: #ffffff; /* Utiliza un color que contraste bien con el fondo del header */
  font-weight: bold; /* Haz que el nombre de usuario sea negrita para destacarlo */
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
}
.dropbtn {
  background-color: #bbb9b900; /* Gris claro */
  border: none; /* Sin bordes */
  text-align: left;
  border-radius: 3px; /* Bordes redondeados */
  padding: 0px; /* Espaciado interno para que se vea bien */
  cursor: pointer; /* Cambia el cursor a una mano al pasar por encima */
}
/* Cambia el estilo al pasar el cursor por encima del botón */
.dropbtn:hover {
  background-color: #ffffff52; /* Un gris un poco más oscuro para el hover */
}
.smenu {
  background: #f4f9ff;
  overflow: auto;
  transition: max-height 0.3s;
  max-height: 0px;
}
.smenu a {
  display: block;
  padding: 26px 66px;
  color: black;
  margin: 4px 0;
  position: relative;
}

.smenu a::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #18dcff;
  left: 0;
  top: 0;
  transition: .3s;
  opacity: 0;
}

.smenu a:hover::before {
  opacity: 1;
}

.item:target .smenu {
  max-height: 10em;
}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #fff; /* Añade un borde para darle un toque elegante */
}

.foto-perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin-right: 10px;
  border: 2px solid #fff; /* Añade un borde para darle un toque elegante */
  /*object-fit: cover;  Asegura que la imagen cubra completamente el círculo */
}
#loading-spinner {
  display: none; /* oculto inicialmente */
  /* Aquí puedes agregar más estilos para el spinner */
}
.notifications {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
}

.notification-count {
  position: absolute;
  top: -10px;
  right: 10px;
  padding: 2px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  display: inline; /* Por defecto, el contador es visible */
}
.sidebar-hidden {
  transform: translateX(-100%); /* Mueve el sidebar hacia la izquierda */
  display: none;
  background-color: #f5f5f5; /* Cambia el color de fondo cuando está oculto */
}
.content-expanded {
  margin-left: 0;
}

.togglesibar{
  margin: 0;
  cursor:pointer;
  padding: 4px;

}
.togglesibar:hover{
  opacity: 0.9;
}
.buttonreset{
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  font-size: 18px;
  transition: background-color 0.3s ease;
}