* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #ffffff;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-title-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo {
    height: 70px;
    width: auto;
    margin-right: 100px;
}

header h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
    vertical-align: middle;
}

.container_fas {
    display: flex;
    min-height: calc(100vh - 60px);
    margin-top: 60px;
}

.sidebar {
    width: 250px;
    background-color: #93B4AA;
    padding: 20px;
    position: fixed;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    padding: 5px 10px;
    border-left: 3px solid transparent;
}

.sidebar a:hover {
    background-color: #799891;
    border-left: 3px solid #56736E;
    color: #fff;
}

.content {
    margin-left: 250px;
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .container_fas {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: static;
        height: auto;
    }

    .content {
        margin-left: 0;
    }
}
.sidebar a.active {
    background-color: #56736E;
    border-left: 3px solid #fff;
    color: #fff;
}
.search-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: auto;
}

.search-container input[type="search"] {
    margin-left: 10px;
}
header input[type="search"] {
    height: 30px;
    border: none;
    border-radius: 15px;
    padding: 0 15px;
    outline: none;
}
.logo-title-search-container {
    display: flex;
    align-items: center;
}

.minimalist-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.minimalist-form label {
    font-weight: bold;
    color: #276955;
}

.minimalist-form input[type="text"],
.minimalist-form input[type="number"] {
    border:1px solid #93B4AA;
}

.minimalist-form .btn-primary {
    background-color: #276955;
    border: none;
}

.minimalist-form .btn-primary:hover {
    background-color: #1c4a3d;
    border: none;
}


.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  body {
    background-color: #f5f5f5;
  }
  
  .container_login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 20px;
  }
  
  .container_login h1 {
    color: #276955;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container_login label {
    color: #276955;
    font-weight: bold;
  }
  
  .container_login input[type="text"],
  .container_login input[type="password"] {
    border: 1px solid #93B4AA;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .container_login input[type="submit"] {
    background-color: #276955;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .container_login input[type="submit"]:hover {
    background-color: #1c4a3d;
  }
  