/* Reset básico para estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #2E3A45; /* Color de fondo del encabezado */
  color: white;
  display: flex;
  justify-content: space-between; /* Distribuye el espacio horizontalmente */
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 1rem 3%; /* Espaciado interno: arriba/abajo, izquierda/derecha */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave para el encabezado */
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px; /* Ajusta la altura del logo según sea necesario */
  width: auto; /* Mantiene la proporción del logo */
  margin-right: 10px; /* Espaciado a la derecha del logo */
}

.header-title {
  font-size: 1.5rem; /* Tamaño de la fuente para el título junto al logo */
  color: white;
  margin-left: 0.5rem; /* Espaciado a la izquierda del título */
}

.search-container {
  flex-grow: 1; /* Permite que la barra de búsqueda crezca para llenar el espacio */
  margin: 0 1.5rem; /* Espaciado a ambos lados de la barra de búsqueda */
}

.search-container input[type="search"] {
  width: 100%; /* La barra de búsqueda ocupa todo el ancho disponible */
  padding: 0.5rem; /* Espaciado interno de la barra de búsqueda */
  font-size: 1rem; /* Tamaño de la fuente de la barra de búsqueda */
  border-radius: 20px; /* Bordes redondeados para la barra de búsqueda */
  border: none; /* Elimina el borde predeterminado */
  outline: none; /* Elimina el resalte al enfocar */
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer; /* Indica que se puede hacer clic en la información del usuario */
}

.profile-pic {
  height: 50px; /* Ajusta la altura de la imagen de perfil según sea necesario */
  width: 50px; /* Ajusta el ancho de la imagen de perfil para mantener la proporción */
  border-radius: 50%; /* Redondea la imagen de perfil para hacerla circular */
  margin-right: 10px; /* Espaciado a la derecha de la imagen de perfil */
}

.username {
  font-weight: bold; /* Hace que el nombre de usuario sea más grueso */
  margin-right: 5px; /* Espaciado a la derecha del nombre de usuario */
}

.user-role {
  font-size: 0.85rem; /* Tamaño de fuente más pequeño para el rol del usuario */
  color: #a9a9a9; /* Color gris para el rol del usuario */
}

/* Ajusta el resto del CSS según tus necesidades */
