/* ../assets/css/components/Index_components/Component_Especs.css */

.clas1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.chart-container {
    width: 100%;
    max-width: 400px;
}
