name: Preparar y Publicar en Producci칩n

on:
  push:
    branches:
      - main

jobs:
  prepare-for-production:
    runs-on: ubuntu-latest
    steps:
      - name: Chequear c칩digo fuente
        uses: actions/checkout@v2

      - name: Reemplazar URL y rutas de directorios
        run: |
          find . -type f ! -name "*.png" ! -name "*.jpg" -exec sed -i 's|https://customware.cl/reccius|https://reccius.cl/recciuscl|g' {} +


      - name: Configurar usuario de Git
        run: |
          git config --global user.email "fabarca212@gmail.com"
          git config --global user.name "Hatt3rPi"

      - name: Commit cambios
        run: |
          git add .
          git commit -m "Reemplazo autom치tico para producci칩n" || echo "No hay cambios para commit."

      - name: Push cambios al repositorio productivo
        uses: ad-m/github-push-action@master
        with:
          github_token: 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
          repository: Hatt3rPi/recciuscl
          branch: main

